.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.info_user{
  padding: 8px;
  border: 1px solid #ccc;
}
 body {
   background-color: #3c39e9;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .miyagi {

   width: 300px;
   display: flex;

   align-items: center;


 }

 .miyagi_1 {
   background-color: #fff;
   height: 80vh;
   border-radius: 20px;
   box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.3);
 }

 h3 {
   float: left;
   padding: 20px 20px -20px 20px;
 }

 .name {
   float: left;
   margin-left: -50px;
 }

 .age {
   float: left;
   margin-left: -50px;
   margin-top: 80px;
 }

 .miyagi_1::before {
   content: '';
   width: 20px;
   height: 20px;
   background-color: #3c39e9;
   border-radius: 50%;

 }